Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

changelog
  CHANGES/8510.misc.rst
Due: changelog

comethod -> method for backport
  docs/web_reference.rst
Due: docs

add missing fixture
  tests/conftest.py
Due: tests

Add a Request.wait_for_disconnection() method (#4200) (#8504)
  CHANGES/2492.feature
  aiohttp/web_protocol.py
  aiohttp/web_request.py
  docs/web_reference.rst
Due: library, changelog, docs

[PR #8482/f4265ce backport][3.10] Fix incorrect rejection of ws:// and wss:// urls (#8511)
  CHANGES/8481.bugfix.rst
  aiohttp/client.py
  tests/conftest.py
  tests/test_client_session.py
  tests/test_client_ws.py
Due: library, changelog, tests

[PR #8482/62173be backport][3.10] Fix incorrect rejection of ws:// and wss:// urls (#8511)
  CHANGES/8481.bugfix.rst
  aiohttp/client.py
  tests/conftest.py
  tests/test_client_session.py
  tests/test_client_ws.py
Due: library, changelog, tests

Drop Python 3.6 support (#5278)
  CHANGES/5278.misc
  aiohttp/abc.py
  aiohttp/client.py
  aiohttp/connector.py
  aiohttp/helpers.py
  aiohttp/pytest_plugin.py
  aiohttp/resolver.py
  aiohttp/web_server.py
  tests/test_client_functional.py
  tests/test_connector.py
  tests/test_helpers.py
Due: library, changelog, tests

drop change
  CHANGES/5278.misc
Due: changelog

[PR #5278/0f0c3759 backport][3.10] Drop Python 3.6 support (#8512)
  aiohttp/abc.py
  aiohttp/client.py
  aiohttp/connector.py
  aiohttp/helpers.py
  aiohttp/pytest_plugin.py
  aiohttp/resolver.py
  aiohttp/web_server.py
  tests/test_client_functional.py
  tests/test_connector.py
  tests/test_helpers.py
Due: library, tests

[PR #5278/b41d37e3 backport][3.10] Drop Python 3.6 support (#8512)
  aiohttp/abc.py
  aiohttp/client.py
  aiohttp/connector.py
  aiohttp/helpers.py
  aiohttp/pytest_plugin.py
  aiohttp/resolver.py
  aiohttp/web_server.py
  tests/test_client_functional.py
  tests/test_connector.py
  tests/test_helpers.py
Due: library, tests

[PR #8445 backport][3.10] Fixes read_timeout on WS connection not respecting ws_connect's timeouts #8444 (#8447)
  CHANGES/8444.bugfix
  CONTRIBUTORS.txt
  aiohttp/client.py
  aiohttp/client_proto.py
  tests/test_client_ws.py
Due: library, changelog, docs, tests

ignore assertIn with codespell
  pyproject.toml
Due: configs

fix merge
  tests/test_web_runner.py
Due: tests

Update change/comments from review
  CHANGES/8507.bugfix.rst
  aiohttp/web_urldispatcher.py
Due: library, changelog

Small cleanup to wss/ws fix
  CHANGES/8481.bugfix.rst
  tests/test_client_session.py
Due: changelog, tests

Fix spelling mistake
  CHANGES/8507.bugfix.rst
Due: changelog

Make circular symlink error dependent on OS and Python version
  aiohttp/web_urldispatcher.py
Due: library

link
  CHANGES/8481.bugfix.rst
Due: changelog

link
  CHANGES/8481.bugfix
Due: changelog

drop symlink
  CHANGES/8481.bugfix
Due: changelog

URL credentials with zero-length user now supported, e.g. http://:password@host (#6494)
  CHANGES/6494.bugfix
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  aiohttp/helpers.py
  tests/test_client_request.py
  tests/test_helpers.py
Due: library, changelog, docs, tests

Add RST markup to CHANGES/6494.bugfix
  CHANGES/6494.bugfix
Due: changelog

Add mock permission error test
  tests/test_web_urldispatcher.py
Due: tests

Update sphinxcontrib-towncrier entry point @ conf
  docs/conf.py
Due: docs

Update sphinxcontrib-towncrier entry point @ conf (#8515)
  docs/conf.py
Due: docs

Link the hotfix PR to the #8481 feature PR
  CHANGES/8481.feature.rst
Due: changelog

Link the hotfix PR to the #8482 feature PR
  CHANGES/8482.feature.rst
Due: changelog

Update #6722 change note byline w/ participants
  CHANGES/6722.feature
Due: changelog

Update CHANGES/6722.feature
  CHANGES/6722.feature
Due: changelog

Small cleanup to wss/ws fix (#8513)
  CHANGES/6722.feature
  CHANGES/8481.bugfix.rst
  CHANGES/8481.feature.rst
  CHANGES/8482.feature.rst
  tests/test_client_session.py
Due: changelog, tests

adjust changelog
  CHANGES/8510.misc.rst
Due: changelog

switch to a guard to save indent
  aiohttp/client_reqrep.py
Due: library

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
