Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

comment:
  layout: "header, diff, files"

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix response headers for compressed file requests
  CHANGES/4462.bugfix.rst
  aiohttp/web_fileresponse.py
  tests/test_web_sendfile_functional.py
Due: library, changelog, tests

Add asgi library to third party list (#8473)
  docs/third_party.rst
Due: docs

Add more detail for users to change fragment
  CHANGES/4462.bugfix.rst
Due: changelog

Update CHANGES/8481.bugfix.rst
  CHANGES/8481.bugfix.rst
Due: changelog

Added change log.
  CHANGES/8481.bugfix.rst
Due: changelog

Fixed the incorrect rejection of wss:// urls.
  aiohttp/client.py
Due: library

Update client.py
  aiohttp/client.py
Due: library

Apply suggestions from code review
  aiohttp/client.py
Due: library

Document `web.FileResponse`
  CHANGES/3958.doc
  docs/web_reference.rst
Due: changelog, docs

[3.10] Document `web.FileResponse` (#8490)
  CHANGES/3958.doc
  docs/web_reference.rst
Due: changelog, docs

Simplify static path checks and resolve strictly
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
  tests/test_web_sendfile_functional.py
Due: library, tests

Add change fragment
  CHANGES/8491.misc.rst
Due: changelog

Changes from review
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, tests

Simplify static path checks and resolve strictly (#8491)
  CHANGES/8491.misc.rst
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
  tests/test_web_sendfile_functional.py
Due: library, changelog, tests

[3.10] Simplify static path checks and resolve strictly (#8491) (cherry picked from commit 20d5f6e5421b1794b1d8370ab80b9deddf24f6da)
  CHANGES/8491.misc.rst
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
  tests/test_web_sendfile_functional.py
Due: library, changelog, tests

[3.10] Simplify static path checks and resolve strictly (#8491) (#8492)
  CHANGES/8491.misc.rst
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
  tests/test_web_sendfile_functional.py
Due: library, changelog, tests

Add coverage for ws/wss
  aiohttp/client.py
Due: library

Add test coverage
  tests/conftest.py
  tests/test_client_session.py
  tests/test_client_ws.py
Due: tests

lint
  tests/conftest.py
  tests/test_client_session.py
Due: tests

Clear mimetypes encodings and add custom type/extension pairs
  aiohttp/web_fileresponse.py
Due: library

Add back application/gzip for MacOS
  aiohttp/web_fileresponse.py
Due: library

Use custom MIMETypes object
  aiohttp/web_fileresponse.py
Due: library

Ignore mypy error
  aiohttp/web_fileresponse.py
Due: library

Rename constant object
  aiohttp/web_fileresponse.py
Due: library

Fix response headers for compressed file requests (#8485)
  CHANGES/4462.bugfix.rst
  aiohttp/web_fileresponse.py
  tests/test_web_sendfile_functional.py
Due: library, changelog, tests

Update tests/test_client_session.py
  tests/test_client_session.py
Due: tests

Only wait on handlers
  aiohttp/web.py
  aiohttp/web_protocol.py
  aiohttp/web_runner.py
  aiohttp/web_server.py
  tests/test_run_app.py
Due: library, tests

[3.10] Fix response headers for compressed file requests (#8485) (cherry picked from commit c086795452bc8fe9c5a476dc1d6b9d5a3120dc7c)
  CHANGES/4462.bugfix.rst
  aiohttp/web_fileresponse.py
  tests/test_web_sendfile_functional.py
Due: library, changelog, tests

[3.10] Fix response headers for compressed file requests (#8485) (#8497)
  CHANGES/4462.bugfix.rst
  aiohttp/web_fileresponse.py
  tests/test_web_sendfile_functional.py
Due: library, changelog, tests

Avoid creating a future on every websocket receive
  aiohttp/client_ws.py
  aiohttp/web_ws.py
Due: library

safer
  aiohttp/client_ws.py
  aiohttp/web_ws.py
Due: library

safer
  aiohttp/client_ws.py
Due: library

Update client_reference.rst
  docs/client_reference.rst
Due: docs
