Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

comment:
  layout: "header, diff, files"

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Upgrade to llhttp 9.2.1 (#8292) (#8297)
  CHANGES/8292.feature.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

Create marker for internal tests
  .github/workflows/ci-cd.yml
  setup.cfg
  tests/test_imports.py
Due: tests

Create 8299.packaging.rst
  CHANGES/8299.packaging.rst
Due: changelog

Update CHANGES/8299.packaging.rst
  CHANGES/8299.packaging.rst
Due: changelog

Apply suggestions from code review
  .github/workflows/ci-cd.yml
  CHANGES/8299.packaging.rst
  setup.cfg
Due: changelog

Update 8299.packaging.rst
  CHANGES/8299.packaging.rst
Due: changelog

Revert #3492
  CHANGES/2302.feature
  aiohttp/multipart.py
  tests/test_multipart.py
Due: library, changelog, tests

Update test_multipart.py
  tests/test_multipart.py
Due: tests

Update multipart.py
  aiohttp/multipart.py
Due: library

Revert #3492 (#8300)
  CHANGES/2302.feature
  aiohttp/multipart.py
  tests/test_multipart.py
Due: library, changelog, tests

Fix #8253
  CHANGES/8253.bugfix
  CONTRIBUTORS.txt
  aiohttp/client.py
  tests/test_client_session.py
Due: library, changelog, docs, tests

Fix handling of multipart/form-data (#8280)
  CHANGES/8280.bugfix.rst
  CHANGES/8280.deprecation.rst
  aiohttp/formdata.py
  aiohttp/multipart.py
  tests/test_client_functional.py
  tests/test_multipart.py
  tests/test_web_functional.py
Due: library, changelog, tests

Remove deprecated content_transfer_encoding
  aiohttp/formdata.py
Due: library

Update test_web_functional.py
  tests/test_web_functional.py
Due: tests

Create 8303.breaking.rst
  CHANGES/8303.breaking.rst
Due: changelog

Fix handling of multipart/form-data (#8280) (#8301)
  CHANGES/8280.bugfix.rst
  CHANGES/8280.deprecation.rst
  aiohttp/formdata.py
  aiohttp/multipart.py
  tests/test_client_functional.py
  tests/test_multipart.py
  tests/test_web_functional.py
Due: library, changelog, tests

Fix handling of multipart/form-data (#8280) (#8302)
  CHANGES/8280.bugfix.rst
  CHANGES/8280.deprecation.rst
  aiohttp/formdata.py
  aiohttp/multipart.py
  tests/test_client_functional.py
  tests/test_multipart.py
  tests/test_web_functional.py
Due: library, changelog, tests

Check for backports in CI
  .github/workflows/ci-cd.yml
Due: none

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

Create labels.yml
  .github/workflows/labels.yml
Due: none

Update labels.yml
  .github/workflows/labels.yml
Due: none
