Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Fix CancelledError stopping other cleanup contexts completing (#8908) (#8973)
  CHANGES/8908.bugfix.rst
  aiohttp/web_app.py
  docs/web_advanced.rst
  tests/test_web_app.py
Due: library, changelog, docs, tests

Avoid logging exception from run_app() that is also raised (#8951) (#8974)
  CHANGES/6807.bugfix.rst
  aiohttp/web.py
  tests/test_run_app.py
Due: library, changelog, tests

Update test_client_functional.py
  tests/test_client_functional.py
Due: tests

Avoid logging exception from run_app() that is also raised (#8951) (#8975)
  CHANGES/6807.bugfix.rst
  aiohttp/web.py
  tests/test_run_app.py
Due: library, changelog, tests

Add Generic for TestClient.app
  aiohttp/pytest_plugin.py
  aiohttp/test_utils.py
  tests/test_client_functional.py
  tests/test_test_utils.py
Due: library, tests

Create 8977.bugfix.rst
  CHANGES/8977.bugfix.rst
Due: changelog

Update CHANGES/8977.bugfix.rst
  CHANGES/8977.bugfix.rst
Due: changelog

Update test_utils.py
  aiohttp/test_utils.py
Due: library

Small cleanups to the websocket frame sender (#8933)
  aiohttp/http_websocket.py
Due: library

Fix resolve_host "Task was destroyed but it is pending" errors (#8967)
  CHANGES/8967.bugfix.rst
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, tests

List specific timeouts for each exception (#8968)
  CHANGES/8968.doc.rst
  docs/client_reference.rst
Due: changelog, docs

Add more info to add_static() warning
  docs/web_reference.rst
Due: docs

Update tests/test_connector.py
  tests/test_connector.py
Due: tests

Fix resolve_host "Task was destroyed but it is pending" errors (#8967) (#8980)
  CHANGES/8967.bugfix.rst
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, tests

Move ContentDisposition in reference docs
  docs/client_reference.rst
Due: docs

Move ContentDisposition in reference docs (#8987)
  docs/client_reference.rst
Due: docs

Fix changing scheme/host in Response.clone() for absolute URLs
  aiohttp/web_request.py
  tests/test_web_request.py
Due: library, tests

Create 8990.bugfix.rst
  CHANGES/8990.bugfix.rst
Due: changelog

Update tests/test_web_request.py
  tests/test_web_request.py
Due: tests

Update ClientSession reference
  docs/client_reference.rst
Due: docs

Update docs/client_reference.rst
  docs/client_reference.rst
Due: docs

Update client_reference.rst
  docs/client_reference.rst
Due: docs

Create 8991.doc.rst
  CHANGES/8991.doc.rst
Due: changelog

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
